// Susy grid.
$debug: false; // Set true to show the grid.
$show-image: 'hide';

@if $debug == false {
  $show-image: 'hide';
} @else {
  $show-image: 'show';
}

// Grid definition for all breakpoints. Use http://gridcalculator.dk/#/1200/12/52/20 to generate the grid.
$susy: (
  flow: ltr,
  math: fluid,
  container-position: rem($container-margin),
  container: auto,
  columns: $column-mobile,
  gutters: 5px / 26px,
  column-width: false,
  debug: (
    image: $show-image,
    color: rgba($black, .25),
    output: background,
    toggle: top right,
  )
);

$susy-tablet: (
  container-position: rem($container-margin-tablet),
  container: auto,
  columns: $column-tablet,
  gutters: 5px / 59px,
  column-width: false,
  debug: (
    image: $show-image,
    color: rgba($gray, .25),
    output: background,
    toggle: top right,
  ),
);

$susy-desktop: (
  container-position: rem($container-margin-desktop),
  container: auto,
  columns: $column-desktop,
  gutters: 24px / 76px,
  column-width: false,
  debug: (
    image: $show-image,
    color: rgba($gray, .25),
    output: background,
    toggle: top right,
  ),
);

$susy-desktop-wide: (
  gutters: 24px / 76px,
  container: $container-desktop-wide,
  container-position: center,
  columns: $column-desktop,
);


// Pick specific breakpoint.
$susy-media: (
  // max-width: 769px
  mobileOnly: (
    media: screen,
    max-width: em($tablet - 1) * 1em,
  ),

  // max-width: 1023px
  mobileTabletOnly: (
    media: screen,
    max-width: em($desktop - 1) * 1em,
  ),

  // min-width: 480px
  mobileLandscape: em($mobile-landscape) * 1em,

  // min-width: 768px and max-width: 1023px
  tabletOnly: (
    media: screen,
    min-width: em($tablet) * 1em,
    max-width: em($desktop - 1) * 1em,
  ),

  // min-width: 768px
  tablet: em($tablet) * 1em,

  // min-width: 1024px
  desktop: em($desktop) * 1em,

  // min-width: 1080px
  desktopWide: em($desktop-wide) * 1em,
);

.container {
  @include container();

  @include susy-media(tablet) {
    @include container($susy-tablet);
  }

  @include susy-media(desktop) {
    @include container($susy-desktop);
  }

  @include susy-media(desktopWide) {
    @include container($susy-desktop-wide);
  }
}
